.hour-slot {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}
  
.reserved {
    background-color: gray;
    cursor: not-allowed;
}

.available {
    background-color: transparent;
    cursor: pointer;
}

.available:hover {
    background-color: blue;
    color: white;
}

body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura del viewport */
    margin: 0; /* Elimina los márgenes por defecto del body */
    font-family: Arial, sans-serif; /* Ajusta la fuente según tu preferencia */
    background-color: #f0f0f0; /* Color de fondo opcional */
  }

  /* Estilos para el contenido */
.content {
    text-align: center; /* Centra el contenido dentro del div */
    background-color: #ffffff; /* Color de fondo del div */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}