.hour-slot {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}
  
.reserved {
    background-color: gray;
    cursor: not-allowed;
}

.available {
    background-color: transparent;
    cursor: pointer;
}

.available:hover {
    background-color: blue;
    color: white;
}