<section class="vh-100" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/img/plantilla-login.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            
            <div class="col-md-6 col-lg-7 d-flex">
              <div class="card-body p-4 p-lg-5 text-black d-flex flex-column">
                <form
                  (ngSubmit)="loginFormulario()"
                  #loginForm="ngForm">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <img src="/assets/img/logo.png" alt="">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión en su cuenta</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" name="nombre" [(ngModel)]="nombre" required/>
                    <label class="form-label" for="form2Example17">Usuario</label>
                  </div>
                  <div
                    *ngIf="loginForm.controls['nombre']!.invalid &&
                      (loginForm.controls['nombre']!.dirty ||
                        loginForm.controls['nombre']!.touched)
                    "
                    class="alert alert-danger">
                    El nombre de usuario es requerido.
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" [(ngModel)]="password" required/>
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>
                  <div
                    *ngIf="
                      loginForm.controls['password']!.invalid &&
                      (loginForm.controls['password']!.dirty ||
                      loginForm.controls['password']!.touched)
                    " class="alert alert-danger">
                    La contraseña es requerida
                  </div>
                  <div 
                    *ngIf="errorMensaje" class="alert alert-danger">
                    {{ errorMensaje }}
                  </div>
                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block gradient-custom-4 text-black" type="submit"
                      [disabled]="!loginForm.valid"
                    >Acceso</button>
                  </div>
                </form>

                <a class="small text-muted" href="#!">¿Has olvidado tu contraseña?</a>
                <p class="pb-lg-2" >¿No tienes cuenta? <a routerLink="/registro-cliente"
                    style="color: #393f81;">Regístrese aquí</a>
                </p>
                <p>
                  <a style="color: #393f81;" routerLink="/registro-duenyo">¿Eres un club nuevo?</a>
                </p>
                <p>
                  <a href="#!" class="small text-muted">Condiciones de uso.</a>
                  <a href="#!" class="small text-muted">  Política de privacidad</a>  
                </p>

                <div class="row mt-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="loginGoogle()">
                      <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Sing in Google
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>