.gradient-custom-4 {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px #ddd;
    border-radius: 5px;
}

.btn-google:hover {
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* border: solid 1px black; */
}