<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <nav class="navbar navbar-light  justify-content-between">
        <img src="/assets/img/logo.png" style="width: 100px;" alt="">
        <button type="submit" (click)="logout()" class="btn btn-danger btn-md cerrarSesion">
            <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
        </button>
    </nav>

    
    <div class="image-container">
        <img src="assets/img/carrusel1.jpg" class="rounded-5" style="width: 100%;" alt="">
        <form action="" class="row d-flex align-items-center form-footer bg-white p-3">
            <div class="col-auto form-floating">
                <label for="floatingInput">Ciudad</label>
                <input type="text"
                            name="ciudad"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Ciudad"
                        />
            </div>
            <div class="col-auto">
                <label for="dia">Selecciona día</label>
                <input id="dia" type="date" class="form-control mb-2 mb-md-0"
                    [(ngModel)]="dia"
                    name="dia"
                >
            </div>
            <div class="col-auto">
                <button class="btn btn-primary d-flex align-items-center" (click)="ensenyar()">
                    <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesión
                </button>
            </div>
            
        </form>
    </div>
    
    
</div>
    