<div class="container mt-4 shadow p-3 mb-5 bg-white rounded-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="form-floating mt-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" aria-describedby="floatingInputHelp" />
                <label for="floatingInput">Nombre</label>
                <div id="floatingInputHelp" class="form-text">No compartiremos tus datos con nadie.</div>
            </div>
            <div class="mt-2">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>