<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <nav class="navbar navbar-expand-xl bg-navbar-theme">
        <div class="container-fluid">
            <img src="assets/img/logo.png" style="width: 8%;" alt="CampoPrime" class="me-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-1">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-ex-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                    <a class="nav-link" >Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" >Link</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown">Dropdown link</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Action</a>
                        <a class="dropdown-item" >Another action</a>
                        <a class="dropdown-item" >Something else here</a>
                    </div>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" >Disabled</a>
                    </li>
                </ul>
            
                <form class="d-flex my-2 my-lg-0" action="javascript:void(0)">
                    <input class="form-control me-sm-2" type="text" placeholder="Search" />
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <img src="assets/img/carrusel1.jpg" class="rounded-5" style="width: 100%;" alt="">
    
    <nav class="navbar navbar-light bg-light mt-4">
        <ul>
            <form class="form-inline justify-content-between">
                <li>
                    <div class="form-floating">
                        <input type="text"
                            id="floatingInput"
                            class="form-control"
                            name="ubicacion"
                            placeholder=""
                        >
                        <label for="floatingInput">Ubicación / nombre recinto</label>
                    </div>
                </li>
                <li>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </li>
                <li>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </li>
            </form>
        </ul>
    </nav>
</div>
    